{% extends 'base.html' %}

{% block title %}   کلینیک ما {% endblock %}

{% block content %}
<div class="content-wrapper mt-2">
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="offset-md-4 col-md-4">
        {% include 'flash.html' %}
      </div>
    </div>
    <div class="container-fluid">
    
        {% block small_boxes %}{% endblock %}

        {% block main_content %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">hello clinic</h1>
                </div>
            </div>
        {% endblock %}

    </div>

</div>

{% endblock %}
