{% extends '/admin/index.html' %}

{% block main_content %}
<div class="col-md-6 mt-5">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title"> رخدادهای ماربر به صورت گرافیکی</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <canvas id="myChart3" height="240px"></canvas>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>

<div class="col-md-6 mt-5">
    <div class="card card-danger">
        <div class="card-header text-center">
            <h6 class="card-title"> <span> نمایش تمامی رخدادهای کاربر </span> <span>{{current_user.name}}</span></h6>
        </div>
        <div class="card-body text-left">
            <div id="example1" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        {% for log in user_logs %}
                        <p class="text-secondary text-sm"> {{log}} </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>

<script>
    const xValues = [{% for log in user_logs %} '{{log.created_at }}', {% endfor %}];
  
    new Chart("myChart3", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          data: [{% for log in user_logs %} '{{log.model_id }}', {% endfor %}],
          borderColor: "red",
          fill: false
        },{
          data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
          borderColor: "green",
          fill: false
        },{
          data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
          borderColor: "blue",
          fill: false
        }]
      },
      options: {
        legend: {display: false}
      }
    });
  </script>
{% endblock %}