{% extends 'admin/index.html' %}

{% block small_boxes %}
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{all_users|count}}</h3>

                <p>کل کاربران سایت</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>۱۵۰</h3>

                <p> کاربران آنلاین</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{users_today|count}}</h3>
                <p> کاربران ثبت شده امروز </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>۶۵</h3>

                <p>بازدید جدید</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->

</div>
{% endblock %}

{% block main_content %}

<div class="col-md-4">
  <!-- USERS LIST -->
  <div class="card card-info">
      <div class="card-header">
          <h3 class="card-title">آخرین اعضا</h3>

          <div class="card-tools">
              <!-- <span class="badge badge-danger">۸ پیام جدید</span> -->
              <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i>
              </button>
          </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
          <ul class="users-list clearfix">
              {% for user in last_users %}
              <li>
                  <img src="{{url_for('static', filename=user.avatar)}}" width="128" alt="User Image">
                  <a class="users-list-name mt-2" href="#"> {{user.name}}</a>
                  {% set user_date = date(user.created_at.year, user.created_at.month, user.created_at.day).togregorian() %}
                  <span class="users-list-date">{{ moment(user_date).fromNow() }}</span>
              </li>
              {% endfor %}
          </ul>
          <!-- /.users-list -->
      </div>
      <!-- /.card-body -->
      <div class="card-footer text-center">
          <a href="{{url_for('admin.users_list')}}">مشاهده همه کاربران</a>
      </div>
      <!-- /.card-footer -->
  </div>
  <!--/.card -->
</div>

<div class="col-md-4">
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title">تعداد کاربران ثبت نام شده</h3>
  
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="myChart" height="240px"></canvas>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</div>

<div class="col-md-4">
  <div class="card card-danger">
    <div class="card-header">
      <h3 class="card-title">مرورگرهای کاربران</h3>
  
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="myChart2" height="240px"></canvas>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</div>

<div class="col-md-4">
  <div class="card card-danger">
    <div class="card-header">
      <h3 class="card-title"> مقالات</h3>
  
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="myChart3" height="240px"></canvas>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</div>







<script src="{{url_for('static', filename='plugins/chart.js/Chart.bundle.min.js')}}"></script>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [' 5 روز قبل', '4 روز قبل', '3 روز قبل', '2 روز قبل', 'دیروز', 'امروز'],
        datasets: [{
            label: 'ثبت نام شده',
            data: [13, 10, 3, 40, 10, 5],
            backgroundColor: [
                'rgba(2, 117, 216)',
                'rgba(92, 184, 92)',
                'rgba(91, 192, 222)',
                'rgba(240, 173, 78)',
                'rgba(217, 83, 79)',
                'rgba(1, 43, 44)'
            ],
            borderColor: [
                'rgba(2, 117, 216)',
                'rgba(92, 184, 92)',
                'rgba(91, 192, 222)',
                'rgba(240, 173, 78)',
                'rgba(217, 83, 79)',
                'rgba(1, 43, 44)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            display: false
        },
        title: {
            display: true,
            text: 'تعداد یوزرها',
            position: 'top',
            fontSize: 16,
            padding: 20
        },
        scales: {
            yAxes: [{
                ticks: {
                    min: 0
                }
            }]
        }
    }
});
</script>

<script>
// Doughnut chart
var ctx = document.getElementById('myChart2').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Chrome', 'Firefox', 'Opera', 'Safari', 'Edge', 'Other'],
        datasets: [{
            data: [27, 17, 14, 26, 12, 5],
            backgroundColor: ['#007bff', '#28a745', '#dc3545', '#ffc107', '#17a2b8', '#343a40'],
            borderWidth: 0.5 ,
            borderColor: '#ddd'
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Recommended Daily Diet',
            position: 'top',
            fontSize: 16,
            fontColor: '#111',
            padding: 20
        },
        legend: {
            display: true,
            position: 'bottom',
            labels: {
                boxWidth: 20,
                fontColor: '#111',
                padding: 15
            }
        },
        tooltips: {
            enabled: false
        },
        plugins: {
            datalabels: {
                color: '#111',
                textAlign: 'center',
                font: {
                    lineHeight: 1.6
                },
                formatter: function(value, ctx) {
                    return ctx.chart.data.labels[ctx.dataIndex] + '\n' + value + '%';
                }
            }
        }
    }
});
</script>

<script>
  const xValues = [100,200,300,400,500,600,700,800,900,1000];

  new Chart("myChart3", {
    type: "line",
    data: {
      labels: xValues,
      datasets: [{
        data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
        borderColor: "red",
        fill: false
      },{
        data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
        borderColor: "green",
        fill: false
      },{
        data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
        borderColor: "blue",
        fill: false
      }]
    },
    options: {
      legend: {display: false}
    }
  });
</script>

{% endblock %}

