{% extends 'base.html' %}

{% block title %} آزمون آنلاین {% endblock %}

{% block content %}
<div class="content-wrapper mt-2">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                {% include 'flash.html' %}
            </div>
        </div>
        <div class="container-fluid">
            {% block small_boxes %}{% endblock %}
            {% block main_content %}
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">تعریف کلاس جدید</h3>
                        </div>
                        <form  action="{{url_for('quiz.classroom_edit', class_id=classroom.id)}}" method="post">
                            {{form.csrf_token()}}
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="" class="col-3"> نام درس </label>
                                    {{form.title(class='form-control col-9', value=classroom.title)}}
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-3"> سال تحصیلی </label>
                                    {{form.academic_year(class='form-control col-9')}}
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-3"> مقطع تحصیلی </label>
                                    {{form.grade(class='form-control col-9')}}
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-3"> رشته تحصیلی</label>
                                    {{form.field(class='form-control col-9')}}
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-3"> انتخاب دانش آموزان </label>
                                    {{form.students(class='form-control col-9', size=10)}}
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">ویرایش اطلاعات </button>
                                <a href="{{url_for('quiz.classes_list')}}" class="btn btn-info float-left mr-1">
                                    برگشن به لیست کلاس ها
                                </a>
                                <a href="{{url_for('quiz.class_info', class_id=classroom.id)}}" 
                                class="btn btn-danger float-left"> نمایش اطلاعات کلاس </a>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </section>
</div>

{% endblock %}