{% extends '/admin/index.html' %}

{% block small_boxes %}

{% endblock %}

{% block main_content %}
<div class="col-md-12 text-center">
    <div class="card">
        <div class="card-header text-center">
            <h3 class="card-title">لیست امتحانات  شما</h3>
        </div>
        <!-- /.card-header -->
        {% if all_exam.items == [] %}
        <div class="crd-body">
            <p class="text-warning mt-2"> هیچ فیلدی پیدا نشد </p>
        </div>
        {% else %}
        <div class="card-body">
            <div id="example1" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="user-edit-table" class="table table-bordered table-striped dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" rowspan="1" colspan="1">#</th>
                                    <th class="sorting" rowspan="1" colspan="1"> عنوان امتحان</th>
                                    <th class="sorting" rowspan="1" colspan="1">درس موردنظر</th>
                                    <th class="sorting" rowspan="1" colspan="1">معلم</th>
                                    <th class="sorting" rowspan="1" colspan="1">تعداد سوالات</th>
                                    <th class="sorting" rowspan="1" colspan="1">مدت زمان امتحان</th>
                                    <th class="sorting" rowspan="1" colspan="1"> تاریخ برگزاری امتحان </th>
                                    <th class="sorting" rowspan="1" colspan="1"> ساعت شروع امتحان </th>
                                    <th class="sorting" rowspan="1" colspan="1">نوع امتحان</th>
                                    <th class="sorting" rowspan="1" colspan="1">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exam in all_exam.items %}
                                <tr role="row" class="odd">
                                    <td>{{loop.index}}</td>
                                    <td class="td-name text-sm">{{exam.title}}</td>
                                    <td class="td-name text-sm">{{exam.get_course(exam.course)}}</td>
                                    <td class="td-name text-sm">{{exam.get_writer(exam.writer)}}</td>
                                    <td class="td-name text-sm">{{exam.questions|count}}</td>
                                    <td class="td-name text-sm"><span>{{exam.exam_time_long}}</span> <span>دقیقه </span></td>
                                    <td class="text-sm text-secondary">{{JalaliDateTime(exam.exam_date).strftime('%Y/%m/%d')}}</td>
                                    <td class="td-name text-sm">{{exam.exam_time_start}}</td>
                                    <td class="td-name text-sm">{{exam.modular_semester}}</td>
                                    <td>
                                        {% if exam.id not in user_exams %}
                                        <form action="{{url_for('quiz.exam_mylist')}}" method="post">
                                            {{form.csrf_token()}} 
                                            <input type="text" name="exam_id" value={{exam.id}} hidden>
                                            <button type="submit" class="btn btn-success btn-sm"> شرکت در آزمون </button>
                                        </form>
                                        {% else %}
                                        <button class="btn btn-danger btn-sm" disabled> شما قبلا در آزمون شرکت کرده اید </button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if all_exam.items|count > 7 %}
                <div class="row">
                    <div class="col-sm-12 col-md-5"></div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            <ul class="pagination">
                                {% if all_exam.has_prev %}
                                <li class="paginate_button page-item previous" id="example1_previous">
                                    <a href="{{url_for('blog.news_list', page=all_exam.prev_num)}}"
                                        aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a>
                                </li>
                                {% endif %}
                                {% for page_number in all_exam.iter_pages() %}
                                {% if page_number %}
                                <li class="paginate_button page-item">
                                    <a href="{{url_for('blog.news_list', page=page_number)}}" aria-controls="example1"
                                        data-dt-idx="1" tabindex="0" class="page-link">
                                        {{page_number}}
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if all_exam.has_next %}
                                <li class="paginate_button page-item next" id="example1_next">
                                    <a href="{{url_for('blog.news_list', page=all_exam.next_num)}}"
                                        aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">بعدی</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>


<!-- Persian Data Picker -->
<script src="{{url_for('static', filename='js/persian-date.min.js')}}"></script>
<script src="{{url_for('static', filename='js/persian-datepicker.min.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#published_at_from").pDatepicker({
            
            altField: '#published_at_from',
            altFormat: "YYYY-MM-DD",
            observer: true,
            format: "YYYY-MM-DD",
        });
        $("#published_at_to").pDatepicker({
            
            altField: '#published_at_to',
            altFormat: "YYYY-MM-DD hh:mm:ss",
            observer: true,
            format: "YYYY-MM-DD hh:mm:ss",
        });
    });
</script>


{% endblock %}
