{% extends 'base.html' %}

{% block title %} آزمون آنلاین {% endblock %}

{% block content %}
<div class="content-wrapper mt-2">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                {% include 'flash.html' %}
            </div>
        </div>
        <div class="container-fluid">
            {% block small_boxes %}{% endblock %}
            {% block main_content %}
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <div class="info-box {% if your_score > 11 %} bg-success {% else %} bg-danger {% endif %} mt-5">
                        <span class="info-box-icon">
                            {% if your_score > 11 %}
                            <i class="fa fa-thumbs-o-up"></i>
                            {% else %}
                            <i class="fa fa-thumbs-o-down"></i>
                            {% endif %}
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text text-center">
                                آزمون 
                                <i class="text-bold">{{exam_title}}</i>
                                شما با موفقیت به اتمام رسید
                            </span>
                            <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description text-center">
                            نمره اکتسابی شما : <i class="text-bold">{{your_score}}</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </section>
</div>
{% endblock %}