{% extends 'base.html' %}

{% block title %} آزمون آنلاین {% endblock %}

{% block content %}
<div class="content-wrapper mt-2">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                {% include 'flash.html' %}
            </div>
        </div>
        <div class="container-fluid">
            {% block small_boxes %}{% endblock %}
            {% block main_content %}
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <p class="alert alert-danger text-center">
                        <span>شما مجاز به reload صفحه نمی باشید در غیر اینصورت نمره آزمون شما صفر در نظر گرفته می شود</span>
                    </p>
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title"> آزمون {{exam.title}}</h3>
                        </div>
                        <form action="{{url_for('quiz.exam_test', exam_id=exam.id)}}" name="exam_test" method="post">
                            {{form.csrf_token()}}
                            <div class="card-body">
                                <h6 class="text-center">
                                    <span id='seconds-counter-2' class="badge badge-warning p-2"></span>
                                </h6>
                                {% for question in exam.questions %}
                                <section class="exam mb-5">
                                    <p>{{question.title}}</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="{{question.id}}" value="1" id="q{{exam.id}}{{question.id}}{{1}}">
                                        <label class="form-check-label" for="q{{exam.id}}{{question.id}}{{1}}">{{question.option_1}} </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="{{question.id}}" value="2" id="q{{exam.id}}{{question.id}}{{2}}">
                                        <label class="form-check-label" for="q{{exam.id}}{{question.id}}{{2}}">{{question.option_2}} </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="{{question.id}}" value="3" id="q{{exam.id}}{{question.id}}{{3}}">
                                        <label class="form-check-label" for="q{{exam.id}}{{question.id}}{{3}}"> {{question.option_3}} </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="{{question.id}}" value="4" id="q{{exam.id}}{{question.id}}{{4}}">
                                        <label class="form-check-label" for="q{{exam.id}}{{question.id}}{{4}}"> {{question.option_4}} </label>
                                    </div>
                                </section>
                                {% endfor %}
                                <h6 class="text-center">
                                    <span id='seconds-counter' class="badge badge-warning p-2"></span>
                                </h6>
                            </div>
                            <div class="card-footer text-center">
                                {{form.btn(class='btn btn-primary btn-block', value='اتمام آزمون')}}
                                <!-- <button type="submit" class="btn btn-primary">ثبت جواب </button> -->
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </section>
</div>
<script>
    window.onload=function(){ 
    window.setTimeout(function() { document.exam_test.submit(); }, {{(exam.exam_time_long) * 60000}});
};
</script>

<script>
var seconds = {{(exam.exam_time_long) * 60}};
var el = document.getElementById('seconds-counter');
var ell = document.getElementById('seconds-counter-2');

function incrementSeconds() {
    seconds -= 1;
    el.innerHTML = "مدت زمان اتمام امتحان شما" + "<span class='text-danger mr-1 ml-1'>" + seconds +  "</span>" + "ثانیه دیگر می باشد";
    ell.innerHTML = "مدت زمان اتمام امتحان شما" + "<span class='text-danger mr-1 ml-1'>" + seconds +  "</span>" + "ثانیه دیگر می باشد";
}

var cancel = setInterval(incrementSeconds, 1000);

</script>
<script type="text/javascript">
const onConfirmRefresh = function (event) {
  event.preventDefault();
  return event.returnValue = "Are you sure you want to leave the page?";
}

window.addEventListener("beforeunload", onConfirmRefresh, { capture: true });
</script>
{% endblock %}

