{% extends 'base.html' %}

{% block title %} آزمون آنلاین {% endblock %}

{% block content %}
<div class="content-wrapper mt-2">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                {% include 'flash.html' %}
            </div>
        </div>
        <div class="container-fluid">
            {% block small_boxes %}{% endblock %}
            {% block main_content %}
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">مشخصات دانش آموز جدید</h3>
                        </div>
                        <form  action="{{url_for('quiz.student_enroll')}}" method="post">
                            {{form.csrf_token()}}
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="" class="col-3"> نام دانش آموز </label>
                                    {{form.student_name(class='form-control col-9', placeholder='نام و نام خانوادگی')}}
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-3"> تلفن همراه دانش آموز </label>
                                    {{form.student_phone(class='form-control col-9', placeholder='09131234567 ')}}
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-3">سال تحصیلی </label>
                                    {{form.academic_year(class='form-control col-9')}}
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-3">مقطع تحصیلی </label>
                                    {{form.grade(class='form-control col-9')}}
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-3"> رشته تحصیلی</label>
                                    {{form.field(class='form-control col-9')}}
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-block btn-primary">ایجاد</button>
                                
                                <a href="{{url_for('quiz.students_group_enrolls')}}" class="btn btn-sm btn-info mt-5"> ساخت گروهی دانش آموزان جدید </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <a href="{{url_for('quiz.academic_year_new')}}" class="btn btn-sm btn-primary"> ساخت سال تحصیلی جدید </a>
                    <a href="{{url_for('quiz.grade_new')}}" class="btn btn-sm btn-warning"> ساخت مقطع تحصیلی جدید </a>
                    <a href="{{url_for('quiz.field_new')}}" class="btn btn-sm btn-danger"> ساخت رشته تحصیلی جدید </a>
                </div>
            </div>
            {% endblock %}
        </div>
    </section>
</div>

{% endblock %}